.container {
    width: 100%;
    height: 100vh;
    max-height: 953px;
    display: flex;

    position: sticky;
    top: 4rem;
}

.left {
    width: 60%;
    padding: 5rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--black-color);
}

.number {
    font-weight: 600;
}

.containerChips {
    display: flex;
    gap: 1rem;
}

.chips {
    padding: 0.563rem 1.5rem;
    border: 1px solid var(--white-color);
    border-radius: 25px;
    font-size: 1.125rem;
}

.title {
    font-size: 2.8rem;
    font-weight: 600;
}

.description {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 150%;
}

.list {
    list-style: none;
}

.link {
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: underline;
}

.right {
    width: 40%;
    background-color: white;
    color: black;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1400px) {
    .left {
        padding: 2rem 4rem;
        justify-content: flex-start;
    }

    .chips {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }
    

    .title {
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .description {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        height: 90vh;
       flex-direction: column-reverse;
    }

    .left {
        width: 100%;
        height: 40%;
        padding: 2rem 1rem;
    }

    .number {
        display: none;
    }

    .containerChips {
        display: none;
    }

    .title {
        font-size: 1.2rem;
    }

    .description {
        display: none;
    }

    .right {
        width: 100%;
        height: 60%;
    }
}