* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #FF0074;
  --secondary-color: #524BF2; 
  --white-color: #FFF;
  --black-color: #000;
  --gray-color: #4F4F50;
  --border-color: rgba(255,255,255,.4);

  color: #FFF;
  background-color: #000;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 30px;
  border-radius: 50%;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #FF0074; 
}

body::-webkit-scrollbar-track {
  background-color: #000; 
}